.div {
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}
.div2 {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%);
}
.h1 {
  margin: 0;
}

.button {
  width: 100px;
  height: 25px;
}
